# ---------------------------------------------------------
# DATABASE (POSTGRES)
# ---------------------------------------------------------
DATABASE_URL=postgresql+asyncpg://postgres:your_password@localhost:5432/your_database
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_db

# ---------------------------------------------------------   ZETRO
# CHROMA VECTOR DB
# ---------------------------------------------------------
CHROMA_PATH=./data/chroma
CHROMA_COLLECTION=products

# ---------------------------------------------------------
# EMBEDDING MODEL (Ollama)
# ---------------------------------------------------------
EMBEDDING_MODEL=bge-large
OLLAMA_HOST=http://ollama:11434

# When running project locally use this
#OLLAMA_HOST=http://localhost:11434

# ---------------------------------------------------------
# JWT AUTH
# ---------------------------------------------------------
JWT_SECRET=superduperjwtsecret
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7
REFRESH_TOKEN_KEY=super_secret_refresh_token_key_change_me_928374928374

# ---------------------------------------------------------
# PASSWORD HASHING
# ---------------------------------------------------------
HASHING_SCHEME=argon2

# ---------------------------------------------------------
# REDIS (caching, rate limiting, sessions)
# ---------------------------------------------------------
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# ---------------------------------------------------------
# PAYPAL
# ---------------------------------------------------------
PAYPAL_CLIENT_ID=your_paypal_client_id
PAYPAL_SECRET=your_paypal_secret
PAYPAL_MODE=sandbox
PAYPAL_RETURN_URL=http://localhost:5173/payment/success
PAYPAL_CANCEL_URL=http://localhost:5173/payment/cancel

# ---------------------------------------------------------
# SMTP EMAIL CONFIG
# ---------------------------------------------------------
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM=noreply@yourdomain.com
