fastapi==0.110.0
uvicorn

python-multipart
httpx
requests

PyJWT

bcrypt
argon2-cffi

pydantic==2.7.1
pydantic-settings
python-dotenv

numpy
pandas
tqdm
scikit-learn

typing-extensions
rich
orjson

python-jose[cryptography]
chroma
sqlalchemy
asyncpg
psycopg2
ollama
chromadb
redis
aiosmtplib
alembic
pytest
aiosqlite
pytest-asyncio
passlib
